:root {
  /* PaperColor Light (https://github.com/NLKNguyen/papercolor-theme). */
  --color00: #EEEEEE;
  --color01: #AF0000;
  --color02: #008700;
  --color03: #5F8700;
  --color04: #0087AF;
  --color05: #878787;
  --color06: #005F87;
  --color07: #444444;
  --color08: #BCBCBC;
  --color09: #D70000;
  --color10: #D70087;
  --color11: #8700AF;
  --color12: #D75F00;
  --color13: #D75F00;
  --color14: #005FAF;
  --color15: #005F87;
  --color16: #0087AF;
  --color17: #008700;
  --selback: #F8F880;
}

/* Disable auto-scaling of fonts in landscape-mode on mobile devices. */
html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  color: var(--color07);
  background-color: var(--color05);
  margin: 0 auto;
  padding: 0;
  max-width: 50em;
  font-family: 'Merriweather', 'Georgia', 'Times New Roman', serif;
  font-size: 16px;
}

::selection {
  color: var(--color07);
  background-color: var(--selback);
}

acronym, .titleTip {
  border-bottom: 1px dotted var(--color08);
  cursor: help;
  margin: 0;
  padding: 0 0 0.4px 0;
}

.smallCaps {
  font-variant: small-caps;
}

hr.clean_break {
  clear: both;
  margin: 0;
  padding: 0;
  border-style: none;
}

#header {
  margin: 0 auto 0 auto;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  color: var(--color00);
  background-color: var(--color06);
  margin: 0;
  padding: 1ex 1ex 1ex 1ex;
  font-size: 85%;
}

.pageHeader img {
  vertical-align: text-bottom;
}

.pageHeader a {
  color: var(--color00);
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0 0.75ex 0 0.5ex;
}  

.pageHeader a:hover {
  text-decoration: underline;
}

.pageHeader .highlight {
  color: var(--selback);
  background-color: transparent;
}

#main-copy {
  background-color: var(--color00);
  text-align: left;
  line-height: 1.6;
  padding-top: 1ex;
}

#main-copy p {
  margin: 0;
  padding: 10px 10px 10px 10px;
}

#main-copy a {
  color: var(--color14);
  background-color: transparent;
  text-decoration: underline;
}

#main-copy a:hover {
  text-decoration: none;
}

#main-copy h1 {
  color: var(--color06);
  background-color: transparent;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 175%;
  font-weight: bold;
  margin: 0;
  padding: 25px 10px 5px 10px;
  border-bottom: 1px solid var(--color08);
}

#main-copy h2 {
  color: var(--color06);
  background-color: transparent;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 125%;
  font-weight: bold;
  margin: 0;
  padding: 15px 10px 5px 10px;
}

#main-copy h3 {
  color: var(--color06);
  background-color: transparent;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 100%;
  font-weight: bold;
  margin: 0;
  padding: 10px 10px 5px 10px;
}

dl {
  margin: 1em 1ex 2em 1ex;
  padding: 0;
}

dt {
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0;
}

dd {
  margin: 0 0 2em 2em;
  padding: 0;
}

#footer {
  color: var(--color00);
  background-color: var(--color06);
  margin: 0 auto 0 auto;
  padding: 1ex 0 1ex 0;
  font-size: 85%;
}

#footer a {
  color: var(--color00);
  background-color: transparent;
  text-decoration: underline;
}

#footer a:hover {
  text-decoration: none;
}

table.toc {
  color: var(--color14);
  background-color: transparent;
  margin: 0 0 0 1ex;
  padding: 1ex 0 1ex 0.6ex;
  border: 1px solid var(--color08);
}

th.toc_title {
  text-align: left;
  font-size: 150%;
  font-weight: bold;
}

td.toc_entry_1 {
  text-align: left;
  padding: 0.5ex 5ex 0.5ex 3ex;
}

div.post {
  margin-top: 0;
}

.left_aligned {
  text-align: left;
  float: left;
  clear: left;
  padding-left: 1ex;
}

.right_aligned {
  text-align: right;
  float: right;
  clear: right;
  padding-right: 1ex;
}

div.centred {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

div.book_display {
  text-align: center;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  padding: 1ex;
  border: 1px solid var(--color08);
}

div.book_display img {
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

img.inline {
  float: left;
  vertical-align: top;
  padding-right: 5px;
}

div.notice {
  margin: 1ex 1.5em 1ex 1.5em;
  padding: 0.5em;
  border: 1px solid var(--color08);
  text-align: left;
}

code {
  color: var(--color01);
  font-family: 'Inconsolata', 'DejaVu Sans', 'Consolas', monospace;
}

#main-copy pre {
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
  border: 1px solid var(--color08);
  overflow-x: auto;
}

/*
  NOTE: If JavaScript is disabled, we do not want content to remain
  hidden - a JavaScript function later hides hidden DIVs.
*/
div.hidden {
  display: block;
}

div.shown {
  display: block;
}

li {
  margin-bottom: 0.5em;
}
